<%- include('../partials/header') %>
<div class="cold-1 text-white pb-5">
  <div class="mx-5">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand"><h2>Séries</h2></a>
      </div>
    </nav>
  </div>
  <div class="mx-5">
    <form method="POST">
      <div class="form-group">
        <label for="serieName">Nome da série</label>
        <input name='name' type="text" class="form-control" id="serieName" aria-describedby="serieHelp" placeholder="Entre como nome da série">
        <small id="serieHelp" class="form-text text-muted">Nome da série a ser salvo.</small>
        <% if (errors.length>0) {%>
          <small id="invalidName" class="text-danger form-text">Por favor, informe o nome da série.</small>
        <%} %>
      </div>
      <div class="form-group">
        <label for="serieStatus">Situação</label>
        <select name='status' class="form-control form-control-lg" size="3" id="serieStatus">
          <option selected value='to-watch'>Vou assistir ainda</option>
          <option value='watching'>Estou assistindo</option>
          <option value='watched'>Assisti toda</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
    

<%- include('../partials/footer') %>