    <%- include('partials/header') %>
    <header class="text-white ">
      <div class="container text-center">
        <h1><img src="images/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
      </div>
      <div class="container text-center">
        <a href="/series" class="btn btn-success btn-lg m-5 py-4 px-5">Ver minhas séries</a>
      </div>
    </header>
    <%- include('partials/footer') %>